{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Stream List - Main Page</title>

    <!-- Bootstrap core CSS -->
    <link
      href="{% static '/app/vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />

    <!-- Custom styles for this template -->
    <link
      href="{% static '/app/css/business-frontpage.css' %}"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Stream List</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="amazon/">Movies on Amazon</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="bg-primary mb-5">
      <div class="container">
        <div class="row align-items-center pt-3">
          <div class="col-lg-12">
            <p class="mb-5 text-white">
              I updated my list of Bollywood movies on Netflix with info from
              today’s big announcement about the streaming service’s slate of
              upcoming Indian movies and TV series. In addition to five new
              series, Netflix announced five Original films that were already in
              the works and seven movies that have chosen not to wait for
              theaters to reopen (whenever that may be). 
            </p>
          </div>
        </div>
      </div>
    </header>

    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-md-9 mb-5">
          <h2>Recently added to Amazon</h2>
          <p>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Movie</th>
                  <th scope="col">Language</th>
                  <th scope="col">Type</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <h5>
                    <a href="">Sufiyum Sujatayum</a>  <small class="text-muted">(2020)</small>
                    <small class="text-danger">5.5</small>
                    </h5>
                  <div class="text-muted">Jayasurya, Aditi Rao Hydari, Dev Mohan</div>
                  </td>
                  <td>Malayalam</td>
                  <td><span class="badge badge-success">Romance</span> <small>Movie</small></td>
                  <td><a href="https://www.imdb.com/title/tt10976066/?ref_=adv_li_tt">imdb</a><br>
                  <a href="https://en.wikipedia.org/wiki/Sufiyum_Sujatayum">wikipedia</a></td>
                </tr>
                <tr>
                  <td>
                    <h5>
                    <a href="">Fourth River</a>  <small class="text-muted">(2020)</small>
                    <small class="text-danger">8.1</small>
                    </h5>
                  <div class="text-muted">Diphul Mathew, Nithu Chandran, Baiju Bala</div>
                  </td>
                  <td>Malayalam</td>
                  <td><span class="badge badge-primary">Thriller</span> <small>Movie</small></td>
                  <td><a href="https://www.imdb.com/title/tt10976066/?ref_=adv_li_tt">imdb</a><br>
                  <a href="https://en.wikipedia.org/wiki/Sufiyum_Sujatayum">wikipedia</a></td>
                </tr>
                <tr>
                  <td>
                    <h5>
                    <a href="">SMS: Shiva Manasulo Shruti</a>  <small class="text-muted">(2018)</small>
                    <small class="text-danger">8.1</small>
                    </h5>
                  <div class="text-muted">Anil Kapoor, Anurag Kashyap</div>
                  </td>
                  <td>Telugu</td>
                  <td><small>Short Film</small></td>
                  <td><a href="https://en.wikipedia.org/wiki/Anil_Kapoor">Wikipedia</a></td>
                </tr>
                <tr>
                  <td>
                    <h5>
                    <a href="">Dostigiri</a>  <small class="text-muted">(2018)</small>
                    <small class="text-danger">8.1</small>
                    </h5>
                  <div class="text-muted">Anil Kapoor, Anurag Kashyap</div>
                  </td>
                  <td>Malayalam</td>
                  <td><small>Documentary</small></td>
                  <td><a href="https://en.wikipedia.org/wiki/Anil_Kapoor">Wikipedia</a></td>
                </tr>
              </tbody>
            </table>

          </p>
          
          <a class="btn btn-primary btn-lg" href="amazon/">More</a>
        </div>
        <div class="col-md-3 mb-5">
          <h2>Not a member?</h2>
          <hr />
          <p class="lead">
            <a target="_blank" href="https://www.amazon.com/ap/register?clientContext=135-5289698-7687115&openid.return_to=https%3A%2F%2Ftrack.amazon.com%2F&openid.identity=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&openid.assoc_handle=amzn_shippingrecipientcentral_us&openid.mode=checkid_setup&marketPlaceId=A2BR6UVHX99FEC&openid.claimed_id=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&pageId=amzn_shippingrecipientcentral_us_amazon&openid.ns=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0&siteState=clientContext%3D131-9236057-3911641%2CsourceUrl%3Dhttps%253A%252F%252Ftrack.amazon.com%252F%2Csignature%3DYlYbz5hNsngoU4Sziy4aZLUEHHoj3D">Sign up</a>
          </p>
        </div>
      </div>
      <!-- /.row -->

      <!-- /.row -->
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">
          Copyright &copy; Stream List 2020
        </p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
